.catalog{
    @include flex(flex-start,flex-start);

    &__filter{
        width: 20%;
        @include tablet{
            width: unset;
        }
        &__widget{
            margin-bottom: 2rem;
            &__title{
                
            }
        }
    }
    &__content{
        flex-grow: 1;
        @include tablet{
            width: 100%;
        }
    }
}